:root {
  /* Main Color & Shades */
  --m: rgb(48, 213, 200);
  --m-h: rgba(0, 255, 234, 0.7);
  --m-tp: rgba(48, 213, 200, 0.5);

  /* Other Accent Colors  */
  --green: rgba(0, 128, 0, 0.3);
  --yellow: rgba(255, 255, 0, 0.3);
  --red: rgba(255, 0, 0, 0.3);

  /* Dark Mode Colors */
  --dark-bg: rgb(12, 12, 13);
  --dark-tp: rgba(12, 12, 13, 0.7);
  --dark-fg-m: rgb(24, 24, 27);
  --dark-fg-s: rgb(39, 39, 42);
  --dark-br: rgb(39, 39, 42);
  --dark-txt-m: rgb(250, 250, 250);
  --dark-txt-s: rgba(250, 250, 250, 0.7);
  --dark-txt-b: rgba(24, 24, 27, 0.7);

  /* Light Mode Colors */
  --light-bg: rgb(255, 255, 255);
  --light-tp: rgba(255, 255, 255, 0.7);
  --light-fg-m: rgb(244, 244, 245);
  --light-fg-s: rgb(235, 235, 235);
  --light-br: rgb(228, 228, 231);
  --light-txt-m: rgb(24, 24, 27);
  --light-txt-s: rgba(24, 24, 27, 0.7);
  --light-txt-b: rgba(250, 250, 250, 0.7);

  /* Gap Styles */
  --space: 1rem; // 16px
  --space-m: 0.5rem; // 8px
  --space-l: 2rem; // 32px

  /* Transition Style */
  --tr: 0.5s ease;

  /* Border Radius Style */
  --br-rad: 0.75rem; // 12px

  /* Main UI sizes */
  --ui-size: 2rem; // 32px
  --scale: scale(0.95);

  /* Header sizes */
  --header-height: 4rem;
  --mob-header-height: 3.438rem;
}

.dark {
  --bg: var(--dark-bg);
  --tp: var(--dark-tp);
  --fg-m: var(--dark-fg-m);
  --fg-s: var(--dark-fg-s);
  --btn-bg: var(--light-bg);
  --opt-bg: var(--light-fg-m);
  --opt-tip-bg: var(--light-bg);
  --br: var(--dark-br);
  --txt-m: var(--dark-txt-m);
  --txt-s: var(--dark-txt-s);
  --txt-b: var(--dark-txt-b);
}

.light {
  --bg: var(--light-bg);
  --tp: var(--light-tp);
  --fg-m: var(--light-fg-m);
  --fg-s: var(--light-fg-s);
  --btn-bg: var(--dark-bg);
  --opt-bg: var(--dark-fg-m);
  --opt-tip-bg: var(--dark-bg);
  --br: var(--light-br);
  --txt-m: var(--light-txt-m);
  --txt-s: var(--light-txt-s);
  --txt-b: var(--light-txt-b);
}
