@function toRem($value) {
  @return calc($value / 16) + rem;
}

/* Main UI Styles */
@mixin ui-styles {
  font-family: 'Montserrat';
  padding: 0 var(--space);
  height: var(--ui-size);
  border-radius: var(--br-rad);
  transition:
    filter var(--tr),
    border var(--tr),
    box-shadow var(--tr),
    transform var(--tr);
}

/* Media Breakpoints */
$mx: 1271px;
$lg: 1045px;
$md: 870px;
$sm: 700px;
$mob: 430px;
$zf: 374px;
